html
{
    height: 160%;
    

}
body
{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 50%, rgb(203, 201, 249), rgb(203, 201, 249) 63%, rgb(49, 15, 96) 63%, rgb(94, 29, 184) 75% );
    
    
}

#middle {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 3em;
    margin-right: 1em;
}


#tamalesHeader
{
    position: absolute;
    font-family: "fog";
    letter-spacing: 0.12em;
    font-size: 1.7em;
    text-align: center;
    color:rgb(145, 163, 219);
}

a:link{text-decoration: none;}
a{color:rgb(145, 163, 219);}

#circle
{
    display: flex;
    z-index: 2;
    align-self: center;

    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgb(51, 28, 104);
    width: 12em;
    height: 12em;
    animation: bounce 2s forwards;
    transform: scale(0.01);
    transition:0.3s;
}

#circle:hover
{
    height: 12.5em;
    width:12.5em;
}



#ingredients
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3vw;
    color: rgb(51, 28, 104);
   

}
#redirect
{
    font-family: "fog";

}


#box
{

    z-index: 1;
    border-radius: 1em;
    height: 2.5em;
    width: 37em;
    background-color:rgb(145, 163, 219);
    animation: intro 2s forwards;
    gap: 2px;
    
}



@keyframes bounce {
    from { transform: translate3d(-800px, -150px, 0);     }
    to   { transform: translate3d(0,0,0); }
  }

@keyframes intro {
    100% {bottom: 0;}
    from {opacity: 0} to {opacity: 1;}
    
}


@keyframes fadeIn {
    from{opacity: 0} to {opacity: 1}
    
}
@font-face{
    font-family: "fog";
    src: url(resources/fog.otf);
}

@font-face {
    font-family: "mauruce";
    src: url(resources/mauruce.ttf);
}