html
{
    min-height: 100%;
    background:linear-gradient(180deg, rgb(49, 15, 96), rgb(76, 24, 149));
}
body
{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    position: relative;
    margin: 0;
    height: max-content;
    box-sizing: border-box;

}


#header
{
    position: relative;
}

#title
{
    position: relative;
    font-family: "mauruce";
    letter-spacing: 0.1em;
    margin-bottom: -7px;
    font-size: 7vw;
    text-align: center;
    color:rgb(65, 71, 220);
    bottom: 3vw;
    opacity: 0;
    animation: intro 2s forwards;
}


#middle
{
    display: inline-table;
    text-align: center;
    position: relative;
    transform: translateY(-1.7vw);
}

#left
{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

#spanishRec, #asianRec
{
    font-family: "fog";
    letter-spacing: 0.1em;
    color:rgb(65, 71, 220);
    opacity: 0;
}
#topLeft, #bottomLeft, #spanishRec
{
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    pointer-events: none;
    left: -30vw;
    position: relative;
    opacity: 0;
    animation: leftSlide 1s forwards;
    animation-delay: 0.5s;
}

#descriptionContainer
{
    position: absolute;
    border: 0.25vw dotted blueviolet;
    border-radius: 03em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 40%;
    right: 50%;
    transform: translate(50%);
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.5s;
}

#projectBy
{
    display: block;
    color: rgb(224, 216, 255);
    font-family: "mauruce";
    letter-spacing: 2px;
    font-size: 1.3vw;
    margin-top: 0.5vw;
}

#TOP
{
    margin:0.5vw 0;
    width: 17vw;
    display: block;
    transform: translateX(1.5%);
}

#topLeft:hover, #bottomLeft:hover, #topRight:hover, #bottomRight:hover
{
    transform: scale(1.06);
}

#topLeftFrame, #bottomLeftFrame, #topRightFrame, #bottomRightFrame
{
    margin-bottom: 1em;
    margin-right: 5px;
    width: 26vw;
    height: 27vw;
    filter: hue-rotate(0deg) saturate(0);
    display: block;
    
    z-index: 2;
}

#topLeft:hover > #topLeftFrame, #bottomLeft:hover > #bottomLeftFrame, #topRight:hover > #topRightFrame, #bottomRight:hover > #bottomRightFrame
{
    transition: 0.75s;
    filter: hue-rotate(-15deg) saturate(2);
}

#tamales, #birriaTacos, #beefAsparagus, #riceVermacelli
{
    position: absolute;
    width: 18vw;
    height: 18vw;
    display: inline;
    object-fit: cover;
    pointer-events: auto;
    border-radius: 10%;
    box-shadow: 0 0 2vw white;
}

#topLeft:hover > #tamales, #bottomLeft:hover > #birriaTacos, #topRight:hover > #beefAsparagus, #bottomRight:hover > #riceVermacelli
{
    box-shadow: 0 0 4vw white;
    transition-duration: 1s;
}


#topLeftOverlay, #bottomLeftOverlay, #topRightOverlay, #bottomRightOverlay
{
    position: absolute;
    border-radius: 10%;
    width: 18vw;
    height: 18vw;
    background: rgba(0, 0, 0,0);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "fog";
    opacity: 0;
    transition: 0.5s;
    pointer-events: auto;
    text-decoration: none;
}


#topLeftOverlay > *,#bottomLeftOverlay > *, #topRightOverlay > *, #bottomRightOverlay > *
{
    transform: translateY(1.5vw);
    transition: transform 0.5s;
}

#topLeftOverlay:hover , #bottomRightOverlay:hover , #bottomLeftOverlay:hover , #topRightOverlay:hover
{
   opacity: 1;

   background: rgba(0, 0, 0,0.65);
   
}




#topLeftOverlay:hover > *,#bottomLeftOverlay:hover > *, #topRightOverlay:hover > *, #bottomRightOverlay:hover > *
{
    transform: translateY(0.5vw);
}


#topLeftHoverTitle, #bottomLeftHoverTitle, #topRightHoverTitle, #bottomRightHoverTitle
{
    display: block;
    font-size: 1.6 vw;
    text-decoration:underline;
    margin-top: 0.4vh;
}

#right
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}


#topRight, #bottomRight, #asianRec
{
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    pointer-events: none;
    right: -100vw;
    position: relative;
    opacity: 0;
    animation: rightSlide 2s forwards;
    animation-delay: 0.5s;  
}

.footer {
    display: flex;
    position: relative;  
    background-color: rgba(32, 24, 73, 0);
    width: 250%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
    gap:10px;
}

.footerHeader {
    font-family:'Segoe UI';
    font-stretch:;
    font-size: 20px;
    font-weight: 300;
    color: rgba(155, 155, 155, 0.637);
}

.github 
{   
    filter:opacity(0.379);
    height: 25px;
    display: inline-block;
}


.github:hover
{
    transform: scale(1.2);
    transition-duration: 0.5s;
}


@keyframes intro {
    100% {bottom: 0};
    from {opacity: 0} to {opacity: 1};
}

@keyframes fadeIn {
    from {opacity: 0} to {opacity: 1};
}

@keyframes leftSlide {
    100% {left: 0};
    from {opacity: 0} to {opacity: 1};
}

@keyframes rightSlide {
    100% {right: 0};
    from {opacity: 0} to {opacity: 1};
}

@keyframes appear{

    from {opacity: 0} to {opacity: 1};
}

@font-face{
    font-family: "fog";
    src: url(resources/fog.otf);
}

@font-face {
    font-family: "mauruce";
    src: url(resources/mauruce.ttf);
}